In [12]:
import glob
import json
import numpy as np

# Find all JSON files in the directory
json_files = glob.glob('*.json')

# Load each JSON file
data = []
for file in json_files:
    with open(file, 'r') as f:
        json_data = json.load(f)
        data.append(json_data)

# Print the loaded data
print(data)

[[{'params': {'featurisation': 'composition', 'model_type': 'NN', 'task': 'sint', 'use_only_target': False, 'concat': False}, 'train_maes': [0.5473208427429199, 0.10880847567649082, 0.32751113176345825, 0.3097604987926261, 0.11172799427400935, 0.18892347991857514, 0.31695055464903515, 0.23081059710451188, 0.21337819627897683, 0.16553567835064822], 'test_maes': [170.9062957763672, 106.48534393310547, 119.09357452392578, 121.0313491821289, 105.73383331298828, 115.35198211669922, 123.24876403808594, 105.70211791992188, 114.39136505126953, 103.64432525634766], 'val_maes': [153.42063903808594, 160.51971435546875, 160.4394989013672, 163.7823486328125, 162.015869140625, 154.47280883789062, 145.1959991455078, 150.78089904785156, 165.07337951660156, 164.50479125976562]}, {'params': {'featurisation': 'composition', 'model_type': 'NN', 'task': 'sint', 'use_only_target': False, 'concat': False}, 'train_maes': [0.5473208427429199, 0.10880847567649082, 0.32751113176345825, 0.3097604987926261, 0.11172799427400935, 0.18892347991857514, 0.31695055464903515, 0.23081059710451188, 0.21337819627897683, 0.16553567835064822], 'test_maes': [170.9062957763672, 106.48534393310547, 119.09357452392578, 121.0313491821289, 105.73383331298828, 115.35198211669922, 123.24876403808594, 105.70211791992188, 114.39136505126953, 103.64432525634766], 'val_maes': [153.42063903808594, 160.51971435546875, 160.4394989013672, 163.7823486328125, 162.015869140625, 154.47280883789062, 145.1959991455078, 150.78089904785156, 165.07337951660156, 164.50479125976562]}], [{'params': {'featurisation': 'mtencoder_512', 'model_type': 'GNN', 'task': 'sint', 'use_only_target': False}, 'train_maes': [0.3182059459364883, 0.3188263740852834, 0.3642306638745314, 0.3681941819386514, 0.35637664680077147], 'test_maes': [124.42767066718629, 124.75470190581328, 116.80751930378979, 126.66979241223069, 117.42882136219848], 'val_maes': [141.77018391505425, 139.79611443237937, 148.85365989566466, 150.87503472362775, 145.99169593321363]}, {'params': {'featurisation': 'mtencoder_256', 'model_type': 'GNN', 'task': 'sint', 'use_only_target': False}, 'train_maes': [0.43112316720650984, 0.39767118933525836, 0.41036108493595896, 0.3870352210992741, 0.4726700131287291], 'test_maes': [142.01870412885773, 133.31450244595544, 126.13620434873593, 127.34484188482628, 137.01550349869143], 'val_maes': [139.84873223971826, 143.83089099943328, 147.45918683462193, 144.0185985822134, 148.6384396128526]}, {'params': {'featurisation': 'matminer', 'model_type': 'GNN', 'task': 'sint', 'use_only_target': False}, 'train_maes': [0.3505056727265965, 0.42031352368193803, 0.3776878807681463, 0.41060158578064804, 0.36462415429937045], 'test_maes': [139.79864331357967, 141.45996575207442, 123.80465143807926, 132.6567927579702, 126.08810020811889], 'val_maes': [152.5148100383541, 147.44114977584601, 157.24904070444057, 155.65851532140545, 155.5919899002612]}, {'params': {'featurisation': 'composition', 'model_type': 'GNN', 'task': 'sint', 'use_only_target': False}, 'train_maes': [0.38252197346703737, 0.4400684205371801, 0.3642607949896329, 0.29572048024449993, 0.3610794892923077], 'test_maes': [132.71605417950553, 135.36610679863404, 119.29706136573175, 118.71882426575844, 126.78978346592895], 'val_maes': [135.27636763024208, 138.38785197994252, 142.88959935637953, 142.90850090066385, 144.49980659563843]}, {'params': {'featurisation': 'matscibert', 'model_type': 'GNN', 'task': 'sint', 'use_only_target': False}, 'train_maes': [0.4257772312490078, 0.33875654642012826, 0.44640216532246835, 0.34915075553165315, 0.46692303087046394], 'test_maes': [169.09261895410762, 128.7593681761937, 137.3392740000849, 131.33941923342877, 138.48617183858374], 'val_maes': [164.90174554221989, 149.35782325230733, 150.40330380454583, 149.21975527748543, 148.38176624621912]}], [{'params': {'featurisation': 'mtencoder_256', 'model_type': 'NN', 'task': 'sint', 'use_only_target': False, 'concat': True}, 'train_maes': [0.31814261119474063, 0.39300896816475445, 0.3801684854335563, 0.2895139797587958, 0.33868327059529046], 'test_maes': [129.16456604003906, 132.5605010986328, 127.10816955566406, 131.2689971923828, 121.00328063964844], 'val_maes': [150.6173858642578, 154.1236572265625, 154.129150390625, 168.00262451171875, 157.5738983154297]}], [{'params': {'featurisation': 'mtencoder_768', 'model_type': 'GNN', 'task': 'sint', 'use_only_target': False}, 'train_maes': [0.4304347560262962, 0.3661091997522828, 0.31383056505069845, 0.3148891039958554, 0.4555832920092914], 'test_maes': [148.69504595454436, 124.53711525105541, 110.61181720236074, 116.54782210640285, 131.56928487887956], 'val_maes': [162.02195602179808, 139.70342049870467, 143.73802117066063, 144.3045365565799, 153.99307352069988]}, {'params': {'featurisation': 'mtencoder_512', 'model_type': 'GNN', 'task': 'sint', 'use_only_target': False}, 'train_maes': [0.3588314916704036, 0.3765189747513077, 0.32147877788316254, 0.39238759740242535, 0.3888762086809781], 'test_maes': [126.98929545716469, 126.10950783676242, 110.5632102824146, 125.33641607628105, 119.83685048579281], 'val_maes': [137.5988373593345, 135.106787109375, 141.92066005252187, 138.69449412291533, 143.54822030077315]}, {'params': {'featurisation': 'matminer', 'model_type': 'GNN', 'task': 'sint', 'use_only_target': False}, 'train_maes': [0.4568849188241257, 0.42526036893696195, 0.3457158007784587, 0.4074214830289937, 0.4009667813950268], 'test_maes': [148.99581547138854, 136.72432076590403, 119.49816382745779, 132.4495007627499, 129.50713246442132], 'val_maes': [143.9542298944503, 140.50779175437177, 156.14581311477897, 149.5862204754291, 151.68841179952364]}, {'params': {'featurisation': 'composition', 'model_type': 'GNN', 'task': 'sint', 'use_only_target': False}, 'train_maes': [0.3820850170146118, 0.4394627746521065, 0.39779156833900725, 0.4222116619106184, 0.3527685134694651], 'test_maes': [135.6040177813228, 136.62271012015964, 122.88880687263442, 135.7262321341852, 116.74354351226256], 'val_maes': [132.45495820514896, 139.99572823480003, 144.56605015888115, 142.91812687216645, 142.7223476623156]}, {'params': {'featurisation': 'matscibert', 'model_type': 'GNN', 'task': 'sint', 'use_only_target': False}, 'train_maes': [0.36526785943400597, 0.3837432865970915, 0.3708153863790327, 0.45281714986570415, 0.39351309715323635], 'test_maes': [138.03420023473893, 131.91539951111218, 124.96459945773486, 144.77520926339287, 128.68395927813276], 'val_maes': [147.29512654833226, 144.07004919496842, 146.33727888196245, 148.6219879624757, 163.18127719413172]}], [{'params': {'concat': True, 'featurisation': 'mtencoder', 'model_type': 'XGB', 'task': 'sint', 'use_only_target': False}, 'train_maes': [], 'test_maes': [], 'val_maes': []}], [{'params': {'featurisation': 'mtencoder_768', 'model_type': 'GNN', 'task': 'sint', 'use_only_target': False}, 'train_maes': [0.34373226672498175, 0.3494594178411933, 0.35848784056649446, 0.398223441898427, 0.32292905375517006], 'test_maes': [1309.5119628906252, 122.83032787631016, 118.9040906064999, 127.29178372021788, 112.11461472970643], 'val_maes': [142.31045816846463, 140.21401923777526, 148.1616443693329, 142.52841082162809, 143.8598574051946]}], [{'params': {'featurisation': 'mtencoder_512', 'model_type': 'NN', 'task': 'sint', 'use_only_target': False, 'concat': False}, 'train_maes': [0.3484025762178177, 0.3814743323759599, 0.38774077729745343, 0.3567899316549301, 0.34313629429007686, 0.3699627671130868, 0.35857993364334106, 0.34673869067972357, 0.3626052723689513, 0.35385441156320796], 'test_maes': [133.41429138183594, 133.10150146484375, 127.37982940673828, 124.75387573242188, 121.78466796875, 133.5059051513672, 127.27908325195312, 116.94416046142578, 124.48709106445312, 117.57659149169922], 'val_maes': [145.09483337402344, 154.27691650390625, 152.70860290527344, 153.08059692382812, 155.86581420898438, 134.1433868408203, 133.73028564453125, 145.08815002441406, 137.48011779785156, 141.81187438964844]}, {'params': {'featurisation': 'mtencoder_512', 'model_type': 'NN', 'task': 'sint', 'use_only_target': False, 'concat': False}, 'train_maes': [0.3484025762178177, 0.3814743323759599, 0.38774077729745343, 0.3567899316549301, 0.34313629429007686, 0.3699627671130868, 0.35857993364334106, 0.34673869067972357, 0.3626052723689513, 0.35385441156320796], 'test_maes': [133.41429138183594, 133.10150146484375, 127.37982940673828, 124.75387573242188, 121.78466796875, 133.5059051513672, 127.27908325195312, 116.94416046142578, 124.48709106445312, 117.57659149169922], 'val_maes': [145.09483337402344, 154.27691650390625, 152.70860290527344, 153.08059692382812, 155.86581420898438, 134.1433868408203, 133.73028564453125, 145.08815002441406, 137.48011779785156, 141.81187438964844]}, {'params': {'featurisation': 'mtencoder_512', 'model_type': 'GNN', 'task': 'sint', 'use_only_target': False}, 'train_maes': [0.4077498995492208, 0.40708662604644513, 0.34267465671040664, 0.36726279926923244, 0.3962452676792372], 'test_maes': [137.57484672972873, 129.8903735806483, 114.41361413801678, 124.57460903380968, 124.20852116785707], 'val_maes': [132.29516475064767, 135.98729349245062, 142.12777143883582, 142.01004910642, 151.29081179537883]}, {'params': {'featurisation': 'mtencoder_256', 'model_type': 'NN', 'task': 'sint', 'use_only_target': False, 'concat': False}, 'train_maes': [0.3805087912221288, 0.4744788051344628, 0.3339992422437252, 0.3731434366037679, 0.30799608068032697, 0.44611782919276843, 0.4402667080814188, 0.348411732099273, 0.3673100173473358, 0.4157827846532644], 'test_maes': [139.11705017089844, 147.8783721923828, 120.0476303100586, 127.5498046875, 116.7567367553711, 147.96510314941406, 140.07894897460938, 119.63906860351562, 125.830078125, 127.91576385498047], 'val_maes': [149.08416748046875, 160.55929565429688, 153.48886108398438, 153.14466857910156, 156.1637420654297, 135.4636688232422, 136.1632537841797, 144.3827667236328, 142.59678649902344, 140.05615234375]}, {'params': {'featurisation': 'mtencoder_256', 'model_type': 'NN', 'task': 'sint', 'use_only_target': False, 'concat': False}, 'train_maes': [0.3805087912221288, 0.4744788051344628, 0.3339992422437252, 0.3731434366037679, 0.30799608068032697, 0.44611782919276843, 0.4402667080814188, 0.348411732099273, 0.3673100173473358, 0.4157827846532644], 'test_maes': [139.11705017089844, 147.8783721923828, 120.0476303100586, 127.5498046875, 116.7567367553711, 147.96510314941406, 140.07894897460938, 119.63906860351562, 125.830078125, 127.91576385498047], 'val_maes': [149.08416748046875, 160.55929565429688, 153.48886108398438, 153.14466857910156, 156.1637420654297, 135.4636688232422, 136.1632537841797, 144.3827667236328, 142.59678649902344, 140.05615234375]}, {'params': {'featurisation': 'mtencoder_256', 'model_type': 'GNN', 'task': 'sint', 'use_only_target': False}, 'train_maes': [0.4547102598594968, 0.3648455879951484, 0.36142148253971024, 0.36737542569643966, 0.4097841934598952], 'test_maes': [149.87352109162703, 125.09434185146544, 118.39778829065169, 124.57891584123884, 122.77263990820677], 'val_maes': [134.46427077851766, 141.59179333306346, 144.24430279509392, 140.83337105074077, 143.572289508322]}, {'params': {'featurisation': 'matminer', 'model_type': 'NN', 'task': 'sint', 'use_only_target': False, 'concat': False}, 'train_maes': [0.5051436871290207, 0.2049720027852197, 0.457701841990153, 0.22308807629485464, 0.26829205453395844, 0.4019966115958469, 0.40498968354988374, 0.4087979369538866, 0.4122423005260462, 0.4369514485200246], 'test_maes': [164.75540161132812, 115.62211608886719, 145.41322326660156, 119.35102081298828, 120.99855041503906, 145.60044860839844, 133.91407775878906, 138.38134765625, 138.3345184326172, 136.9893798828125], 'val_maes': [158.93011474609375, 161.17433166503906, 170.22267150878906, 165.11827087402344, 161.0358123779297, 143.20469665527344, 143.841552734375, 160.66444396972656, 150.55245971679688, 151.55484008789062]}, {'params': {'featurisation': 'matminer', 'model_type': 'NN', 'task': 'sint', 'use_only_target': False, 'concat': False}, 'train_maes': [0.5051436871290207, 0.2049720027852197, 0.457701841990153, 0.22308807629485464, 0.26829205453395844, 0.4019966115958469, 0.40498968354988374, 0.4087979369538866, 0.4122423005260462, 0.4369514485200246], 'test_maes': [164.75540161132812, 115.62211608886719, 145.41322326660156, 119.35102081298828, 120.99855041503906, 145.60044860839844, 133.91407775878906, 138.38134765625, 138.3345184326172, 136.9893798828125], 'val_maes': [158.93011474609375, 161.17433166503906, 170.22267150878906, 165.11827087402344, 161.0358123779297, 143.20469665527344, 143.841552734375, 160.66444396972656, 150.55245971679688, 151.55484008789062]}, {'params': {'featurisation': 'matminer', 'model_type': 'GNN', 'task': 'sint', 'use_only_target': False}, 'train_maes': [0.40024199217930734, 0.38233552562997736, 0.3927598036895414, 0.4180627807363882, 0.28373132359941006], 'test_maes': [142.90263961886768, 125.46420610321235, 130.4055721922691, 132.85665813943615, 117.40622458449056], 'val_maes': [152.44237642436448, 143.3395356647709, 152.46380893529388, 153.3299248097474, 160.1110711581465]}, {'params': {'featurisation': 'composition', 'model_type': 'NN', 'task': 'sint', 'use_only_target': False, 'concat': False}, 'train_maes': [0.12395771525122902, 0.5891247689723969, 0.1465994343161583, 0.1193110841128204, 0.11842528955880986, 0.3500785728295644, 0.33277829984823865, 0.31837236881256104, 0.35885298748811084, 0.15957284398203672], 'test_maes': [108.25372314453125, 176.3530731201172, 105.75506591796875, 109.16979217529297, 102.1921157836914, 126.6874771118164, 126.09021759033203, 112.97792053222656, 123.9864501953125, 105.31774139404297], 'val_maes': [151.3645782470703, 149.8103790283203, 160.05722045898438, 160.30368041992188, 156.47215270996094, 139.8556365966797, 146.88031005859375, 146.82980346679688, 146.97987365722656, 153.91424560546875]}, {'params': {'featurisation': 'composition', 'model_type': 'NN', 'task': 'sint', 'use_only_target': False, 'concat': False}, 'train_maes': [0.12395771525122902, 0.5891247689723969, 0.1465994343161583, 0.1193110841128204, 0.11842528955880986, 0.3500785728295644, 0.33277829984823865, 0.31837236881256104, 0.35885298748811084, 0.15957284398203672], 'test_maes': [108.25372314453125, 176.3530731201172, 105.75506591796875, 109.16979217529297, 102.1921157836914, 126.6874771118164, 126.09021759033203, 112.97792053222656, 123.9864501953125, 105.31774139404297], 'val_maes': [151.3645782470703, 149.8103790283203, 160.05722045898438, 160.30368041992188, 156.47215270996094, 139.8556365966797, 146.88031005859375, 146.82980346679688, 146.97987365722656, 153.91424560546875]}, {'params': {'featurisation': 'composition', 'model_type': 'GNN', 'task': 'sint', 'use_only_target': False}, 'train_maes': [0.37484384657716263, 0.39492668573874884, 0.3999578445640397, 0.3616125197105995, 0.36871682989009696], 'test_maes': [129.70400117672747, 128.81527823691042, 123.25440778080721, 124.83506181610296, 118.20329691505788], 'val_maes': [136.5645443298656, 141.66585718658922, 148.4683130135808, 139.80079168606298, 140.5725651774594]}, {'params': {'featurisation': 'matscibert', 'model_type': 'NN', 'task': 'sint', 'use_only_target': False, 'concat': False}, 'train_maes': [0.4838356361792317, 0.4445549318956774, 0.48162965002977465, 0.5910974818311697, 0.45556456392461603, 0.5317928804907688, 0.48561537765379204, 0.5098051066475081, 0.5226759335329366, 0.5354508993237518], 'test_maes': [154.3798828125, 143.32872009277344, 151.8059539794922, 209.40220642089844, 141.40975952148438, 162.51190185546875, 147.48228454589844, 154.96810913085938, 160.15576171875, 153.1651611328125], 'val_maes': [156.92236328125, 159.39254760742188, 168.12506103515625, 211.5179901123047, 171.7203369140625, 154.2440643310547, 148.02236938476562, 160.2749481201172, 167.21292114257812, 168.677001953125]}, {'params': {'featurisation': 'matscibert', 'model_type': 'NN', 'task': 'sint', 'use_only_target': False, 'concat': False}, 'train_maes': [0.4838356361792317, 0.4445549318956774, 0.48162965002977465, 0.5910974818311697, 0.45556456392461603, 0.5317928804907688, 0.48561537765379204, 0.5098051066475081, 0.5226759335329366, 0.5354508993237518], 'test_maes': [154.3798828125, 143.32872009277344, 151.8059539794922, 209.40220642089844, 141.40975952148438, 162.51190185546875, 147.48228454589844, 154.96810913085938, 160.15576171875, 153.1651611328125], 'val_maes': [156.92236328125, 159.39254760742188, 168.12506103515625, 211.5179901123047, 171.7203369140625, 154.2440643310547, 148.02236938476562, 160.2749481201172, 167.21292114257812, 168.677001953125]}, {'params': {'featurisation': 'matscibert', 'model_type': 'GNN', 'task': 'sint', 'use_only_target': False}, 'train_maes': [0.42494545893362845, 0.37126316581273705, 0.37386064665097474, 0.303291797137084, 0.38406919106995274], 'test_maes': [141.1129829738451, 131.75675223214284, 124.90369105368667, 120.51821501358695, 137.36274301020384], 'val_maes': [139.0924485596968, 142.3315185546875, 145.8523449833529, 143.70701550103223, 157.14036828588007]}], [{'params': {'featurisation': 'mtencoder_512', 'model_type': 'GNN', 'task': 'sint', 'use_only_target': False}, 'train_maes': [0.3881427820491011, 0.3410082721547246, 0.3070808580917174, 0.3506415127503202, 0.37594545408358226], 'test_maes': [132.72444753706085, 120.74830000030327, 107.38085713830795, 121.42450349227242, 117.13104763943782], 'val_maes': [133.38155403730164, 138.3277597377955, 140.64773600682076, 140.19009478475147, 143.66399565197173]}], [{'params': {'featurisation': 'mtencoder_256', 'model_type': 'GNN', 'task': 'sint', 'use_only_target': False}, 'train_maes': [0.4068543153679459, 0.404146220912356, 0.3511854367818654, 0.36791211774236854, 0.41158158871786776], 'test_maes': [136.29237117411927, 131.2185694345036, 116.0195926642566, 125.27641446131356, 124.14684607183956], 'val_maes': [139.04892761546714, 137.08923681387628, 141.99888783193006, 142.67634682136497, 143.18055589253365]}, {'params': {'featurisation': 'mtencoder_256', 'model_type': 'NN', 'task': 'sint', 'use_only_target': False, 'concat': False}, 'train_maes': [0.3746042549610138, 0.40870576542477277, 0.3941596994797389, 0.41835056742032367, 0.40670229630036786], 'test_maes': [133.46499633789062, 133.7028350830078, 125.1770248413086, 132.98097229003906, 126.41102600097656], 'val_maes': [137.74195861816406, 133.4183807373047, 145.50424194335938, 139.2749481201172, 140.7771453857422]}], [{'params': {'concat': True, 'featurisation': 'mtencoder', 'model_type': 'GNN', 'task': 'sint', 'use_only_target': False}, 'train_maes': [229.7349853515625, 233.33792114257812, 233.2505645751953, 230.37997436523438, 234.2407684326172], 'test_maes': [223.37306213378906, 224.06353759765625, 223.5406036376953, 223.62728881835938, 223.39193725585938], 'val_maes': [229.7349853515625, 233.33792114257812, 233.2505645751953, 230.37997436523438, 234.2407684326172]}, {'params': {'concat': True, 'featurisation': 'mtencoder', 'model_type': 'NN', 'task': 'sint', 'use_only_target': False}, 'train_maes': [228.11402893066406, 231.85760498046875, 232.63746643066406, 230.17025756835938, 234.37542724609375], 'test_maes': [221.93646240234375, 223.2382049560547, 223.90408325195312, 225.71286010742188, 223.15277099609375], 'val_maes': [228.11402893066406, 231.85760498046875, 232.63746643066406, 230.17025756835938, 234.37542724609375]}, {'params': {'concat': True, 'featurisation': 'matminer', 'model_type': 'GNN', 'task': 'sint', 'use_only_target': False}, 'train_maes': [230.6561279296875, 234.45286560058594, 235.17889404296875, 231.1486053466797, 234.03338623046875], 'test_maes': [225.41905212402344, 224.5408477783203, 224.4628143310547, 224.7745361328125, 227.60546875], 'val_maes': [230.6561279296875, 234.45286560058594, 235.17889404296875, 231.1486053466797, 234.03338623046875]}, {'params': {'concat': True, 'featurisation': 'matminer', 'model_type': 'NN', 'task': 'sint', 'use_only_target': False}, 'train_maes': [230.533218383789

In [13]:
json_files

['results_2024-09-02 07:30:31.744590.json',
 'results_2024-08-30 18:30:55.424603.json',
 'results_2024-08-29 16:57:02.470342.json',
 'results_2024-08-31 15:40:06.525042.json',
 'results_2024-08-24 10:48:23.119510.json',
 'results_2024-08-31 09:39:11.775702.json',
 'results_2024-08-30 07:10:25.343526.json',
 'results_2024-08-29 16:59:27.265492.json',
 'results_2024-08-29 08:17:03.578280.json',
 'results_2024-08-23 23:14:04.511759.json',
 'results_2024-08-24 11:10:09.809704.json',
 'results_2024-08-29 07:41:27.079822.json',
 'results_2024-08-24 11:01:06.744054.json',
 'results_2024-08-29 19:54:34.908055.json']

In [1]:
import json

file_path = '/home/students/code/MLP/Menelaos/reaction_conditions/MLP/results/results_2024-09-04 18:39:48.610182.json'
file_path = '/home/students/code/MLP/Menelaos/reaction_conditions/MLP/results/results_2024-09-04 19:18:56.264181.json'
file_path = '/home/students/code/MLP/Menelaos/reaction_conditions/MLP/results/results_2024-09-04 19:10:59.251851.json'
file_path = '/home/students/code/MLP/Menelaos/reaction_conditions/MLP/results/results_2024-09-05 19:04:36.830694.json'
#file_path = '/home/students/code/MLP/Menelaos/reaction_conditions/MLP/results/results_2024-09-04 20:00:03.594580.json'
with open(file_path, 'r') as f:
    json_data = json.load(f)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

item = json_data

# Prepare lists to store each column's data
model_types = []
featurisations = []
concats = []
use_only_targets = []
train_maes = []
test_maes = []
all_test_maes = []

# Iterate over the results and populate the lists
for run in item:
    model_types.append(run['params']['model_type'])
    featurisations.append(run['params']['featurisation'])
    try: 
        concats.append(run['params']['concat'])
    except:   
        concats.append('None')
    use_only_targets.append(run['params']['use_only_target'])
    train_maes.append(np.mean(run["train_maes"]))
    test_maes.append(np.mean(run["test_maes"]))
    all_test_maes.append(run["test_maes"])

df = pd.DataFrame({
    'Model Type': model_types,
    'Featurisation': featurisations,
    'Concat': concats,
    'Use Only Target': use_only_targets,
    'Train MAE': train_maes,
    'Test MAE': test_maes,
    'Test std': [np.std(x) for x in all_test_maes],
    'All Test MAEs': all_test_maes
})

In [3]:
df

,Model Type,Featurisation,Concat,Use Only Target,Train MAE,Test MAE,Test std,All Test MAEs
0,GNN,mtencoder_512,None,False,0.215804,100.014221,3.509239,"[106.85814535010675, 97.9052237374442, 99.4050..."
1,GNN,mtencoder_256,None,False,0.207871,100.676967,5.382839,"[110.40964514690897, 93.91619020071089, 99.850..."
2,GNN,composition,None,False,0.245094,106.314236,5.785576,"[105.14557244910957, 100.46426732791878, 114.6..."
3,GNN,matscibert,None,False,0.274186,138.079887,25.706602,"[121.27049617411927, 125.40911289001843, 134.3..."
4,GNN,matminer,None,False,0.381621,124.213193,2.575358,"[124.17079103837102, 127.17690979383006, 123.7..."

In [9]:
df

,Model Type,Featurisation,Concat,Use Only Target,Train MAE,Test MAE,Test std,All Test MAEs
0,GNN,mtencoder_512,None,False,0.219695,99.798904,3.670071,"[101.68218126000825, 97.5566349764048, 102.929..."
1,NN,mtencoder_512,False,False,0.260731,109.319006,4.259638,"[115.82857513427734, 110.09002685546875, 102.5..."
2,XGB,mtencoder_512,False,False,159.022837,153.477507,10.094178,"[161.91876351619112, 157.08827681452593, 155.0..."
3,GNN,mtencoder_256,None,False,0.207037,99.679593,4.858978,"[100.29141440065752, 95.35921422354183, 105.90..."
4,NN,mtencoder_256,False,False,0.262931,112.015611,5.202183,"[120.8281478881836, 108.74786376953125, 114.94..."
5,XGB,mtencoder_256,False,False,160.253686,152.325858,10.472675,"[140.96821033296132, 138.5070784985402, 159.52..."

In [3]:
df

,Model Type,Featurisation,Concat,Use Only Target,Train MAE,Test MAE,Test std,All Test MAEs
0,GNN,mtencoder_512,None,False,0.206103,109.115552,0.0,[109.11555247810317]
1,GNN,mtencoder_256,None,False,0.250496,108.785088,0.0,[108.78508835312742]
2,GNN,composition,None,False,0.209613,102.164278,0.0,[102.16427835973893]
3,GNN,matscibert,None,False,0.241077,145.803755,0.0,[145.80375479941043]
4,GNN,matminer,None,False,0.389780,134.606292,0.0,[134.60629226968896]

In [77]:
df

,Model Type,Featurisation,Concat,Use Only Target,Train MAE,Test MAE,Test std,All Test MAEs
0,GNN,mtencoder_512,None,False,0.206103,109.115552,0.0,[109.11555247810317]
1,GNN,mtencoder_256,None,False,0.250496,108.785088,0.0,[108.78508835312742]

In [35]:
df

,Model Type,Featurisation,Concat,Use Only Target,Train MAE,Test MAE,Test std,All Test MAEs
0,XGB,mtencoder_512,False,False,159.657521,159.266641,0.0,[159.26664074378476]
1,XGB,mtencoder_256,False,False,165.234435,161.389487,0.0,[161.3894868725131]
2,XGB,composition,False,False,177.697133,171.439191,0.0,[171.4391906940468]
3,XGB,matscibert,False,False,187.685249,184.699707,0.0,[184.69970689982853]
4,XGB,matminer,False,False,186.388396,172.302910,0.0,[172.3029101082306]

In [23]:
df

,Model Type,Featurisation,Concat,Use Only Target,Train MAE,Test MAE,Test std,All Test MAEs
0,NN,mtencoder_pretrain,False,False,0.191247,102.612160,0.0,[102.6121597290039]
1,NN,mtencoder_256,False,False,0.272657,119.100067,0.0,[119.10006713867188]
2,NN,composition,False,False,0.318623,117.290672,0.0,[117.2906723022461]
3,NN,matscibert,False,False,0.563909,164.488800,0.0,[164.48880004882812]
4,NN,matminer,False,False,0.353655,129.484482,0.0,[129.48448181152344]

In [45]:
df

,Model Type,Featurisation,Concat,Use Only Target,Train MAE,Test MAE,Test std,All Test MAEs
0,NN,mtencoder_pretrain,False,False,0.398073,138.072189,0.0,[138.0721893310547]
1,NN,mtencoder_256,False,False,0.460995,150.956604,0.0,[150.95660400390625]
2,NN,composition,False,False,0.376989,132.159363,0.0,[132.15936279296875]
3,NN,matscibert,False,False,0.567591,177.821732,0.0,[177.8217315673828]
4,NN,matminer,False,False,0.484356,162.655655,0.0,[162.65565490722656]

In [33]:
df

,Model Type,Featurisation,Concat,Use Only Target,Train MAE,Test MAE,Test std,All Test MAEs
0,GNN,mtencoder_pretrain,None,False,0.375006,133.969137,0.0,[133.96913732682697]
1,GNN,mtencoder_256,None,False,0.356643,132.566225,0.0,[132.5662246988427]
2,GNN,composition,None,False,0.425009,141.895750,0.0,[141.8957496785229]
3,GNN,matscibert,None,False,0.439094,155.462695,0.0,[155.4626950850398]
4,GNN,matminer,None,False,0.424699,146.905145,0.0,[146.90514460024627]

In [9]:
df

,Model Type,Featurisation,Concat,Use Only Target,Train MAE,Test MAE,Test std,All Test MAEs
0,GNN,mtencoder_pretrain,None,False,0.387673,134.614904,0.0,[134.61490379949535]
1,NN,mtencoder_pretrain,False,False,0.381591,134.874771,0.0,[134.87477111816406]
2,GNN,composition,None,False,0.325088,126.191672,0.0,[126.19167226471517]
3,NN,composition,False,False,0.289397,123.269508,0.0,[123.2695083618164]
4,GNN,matscibert,None,False,0.398636,142.120078,0.0,[142.12007814016403]
5,NN,matscibert,False,False,0.516905,177.489075,0.0,[177.48907470703125]
6,GNN,matminer,None,False,0.392092,141.624157,0.0,[141.62415684291295]
7,NN,matminer,False,False,0.480488,163.521210,0.0,[163.52120971679688]

In [8]:
df

,Model Type,Featurisation,Concat,Use Only Target,Train MAE,Test MAE,Test std,All Test MAEs
0,GNN,mtencoder_pretrain,None,False,0.35832,127.157708,0.0,[127.15770775457347]
1,NN,mtencoder_pretrain,False,False,0.37125,132.315399,0.0,[132.31539916992188]

In [5]:
df

,Model Type,Featurisation,Concat,Use Only Target,Train MAE,Test MAE,Test std,All Test MAEs
0,GNN,mtencoder_pretrain,None,False,0.35832,127.157708,0.0,[127.15770775457347]

In [4]:
df

,Model Type,Featurisation,Concat,Use Only Target,Train MAE,Test MAE,Test std,All Test MAEs
0,NN,mtencoder_256,False,False,0.405455,132.079272,6.175647,"[140.3904571533203, 133.72958374023438, 121.50..."

In [8]:
df

,Model Type,Featurisation,Concat,Use Only Target,Train MAE,Test MAE,Test std,All Test MAEs
0,NN,composition,False,False,0.339913,122.18396,7.402378,"[123.054931640625, 128.822509765625, 120.24348..."

In [10]:
df

,Model Type,Featurisation,Concat,Use Only Target,Train MAE,Test MAE,Test std,All Test MAEs
0,NN,composition,True,False,0.143719,107.087936,6.828118,"[113.15593719482422, 110.36536407470703, 97.37..."

In [9]:
df

,Model Type,Featurisation,Concat,Use Only Target,Train MAE,Test MAE,Test std,All Test MAEs
0,NN,composition,True,False,0.125113,107.044203,3.249966,"[111.85790252685547, 108.52125549316406, 102.5..."

In [3]:
df

,Model Type,Featurisation,Concat,Use Only Target,Train MAE,Test MAE,Test std,All Test MAEs
0,XGB,composition,True,False,174.717396,159.111145,5.501615,"[165.15997988240812, 156.61443700872206, 152.5..."
1,XGB,matscibert,True,False,156.577759,137.169376,4.336002,"[143.22000730147272, 140.05708877396492, 132.8..."
2,XGB,mtencoder_768,True,False,155.994075,144.590383,5.147899,"[142.94571000188034, 146.93172646776102, 143.9..."
3,XGB,mtencoder_512,True,False,159.444707,144.310166,8.138158,"[150.86918689040664, 140.95995179035015, 134.7..."
4,XGB,matminer,True,False,170.864760,155.040323,20.707808,"[180.84034055089853, 179.86367128288137, 137.0..."

In [6]:
df

,Model Type,Featurisation,Concat,Use Only Target,Train MAE,Test MAE,Test std,All Test MAEs
0,NN,composition,True,False,0.183963,109.293164,5.93159,"[114.58177185058594, 105.70258331298828, 99.27..."

In [3]:
df

,Model Type,Featurisation,Concat,Use Only Target,Train MAE,Test MAE,Test std,All Test MAEs
0,NN,composition,True,False,0.252599,122.675331,27.673849,"[175.95663452148438, 106.49703216552734, 101.8..."
1,NN,matscibert,True,False,0.499652,160.166132,23.878019,"[154.53662109375, 156.07211303710938, 206.3821..."
2,NN,mtencoder_768,True,False,0.375626,133.607913,16.847863,"[122.58511352539062, 166.88070678710938, 126.4..."
3,NN,mtencoder_512,True,False,0.339255,125.767413,4.805537,"[128.8934326171875, 118.31482696533203, 126.10..."
4,NN,matminer,True,False,0.282166,125.379207,17.961791,"[160.99420166015625, 117.33757781982422, 113.1..."

In [20]:
df

,Model Type,Featurisation,Concat,Use Only Target,Train MAE,Test MAE,Test std,All Test MAEs
0,NN,composition,False,False,0.252073,118.558895,18.693022,"[170.9062957763672, 106.48534393310547, 119.09..."
1,NN,composition,False,False,0.252073,118.558895,18.693022,"[170.9062957763672, 106.48534393310547, 119.09..."

In [7]:
np.mean(df['All Test MAEs'].loc[0][1:])

np.float64(125.66168403625488)

In [76]:
df

,Model Type,Featurisation,Concat,Use Only Target,Train MAE,Test MAE,All Test MAEs
0,GNN,mtencoder_512,None,False,0.345167,122.017701,"[124.42767066718629, 124.75470190581328, 116.8..."
1,GNN,mtencoder_256,None,False,0.419772,133.165951,"[142.01870412885773, 133.31450244595544, 126.1..."
2,GNN,matminer,None,False,0.384747,132.761631,"[139.79864331357967, 141.45996575207442, 123.8..."
3,GNN,composition,None,False,0.368730,126.577566,"[132.71605417950553, 135.36610679863404, 119.2..."
4,GNN,matscibert,None,False,0.405402,141.003370,"[169.09261895410762, 128.7593681761937, 137.33..."

In [73]:
df

,Model Type,Featurisation,Concat,Use Only Target,Train MAE,Test MAE,All Test MAEs
0,NN,mtencoder_512,False,False,0.360928,126.022700,"[133.41429138183594, 133.10150146484375, 127.3..."
1,NN,mtencoder_512,False,False,0.360928,126.022700,"[133.41429138183594, 133.10150146484375, 127.3..."
2,GNN,mtencoder_512,None,False,0.384204,126.132393,"[137.57484672972873, 129.8903735806483, 114.41..."
3,NN,mtencoder_256,False,False,0.388802,131.277856,"[139.11705017089844, 147.8783721923828, 120.04..."
4,NN,mtencoder_256,False,False,0.388802,131.277856,"[139.11705017089844, 147.8783721923828, 120.04..."
5,GNN,mtencoder_256,None,False,0.391627,128.143441,"[149.87352109162703, 125.09434185146544, 118.3..."
6,NN,matminer,False,False,0.372418,135.936008,"[164.75540161132812, 115.62211608886719, 145.4..."
7,NN,matminer,False,False,0.372418,135.936008,"[164.75540161132812, 115.62211608886719, 145.4..."

In [70]:
df

,Model Type,Featurisation,Concat,Use Only Target,Train MAE,Test MAE,All Test MAEs
0,NN,mtencoder_512,False,False,0.360928,126.0227,"[133.41429138183594, 133.10150146484375, 127.3..."
1,NN,mtencoder_512,False,False,0.360928,126.0227,"[133.41429138183594, 133.10150146484375, 127.3..."

In [64]:
df

,Model Type,Featurisation,Concat,Use Only Target,Train MAE,Test MAE,All Test MAEs
0,NN,mtencoder_512,False,False,0.346525,124.472646,"[127.04651641845703, 130.227783203125, 117.936..."
1,NN,mtencoder_512,False,False,0.346525,124.472646,"[127.04651641845703, 130.227783203125, 117.936..."
2,GNN,mtencoder_512,None,False,0.356948,121.126715,"[130.36432578519265, 132.80881961798815, 111.4..."
3,NN,mtencoder_256,True,False,0.363482,128.886894,"[130.0135040283203, 132.39578247070312, 127.92..."

In [57]:
df

,Model Type,Featurisation,Use Only Target,Train MAE,Test MAE,All Test MAEs
0,GNN,mtencoder_256,False,0.388336,126.590759,"[136.29237117411927, 131.2185694345036, 116.01..."
1,NN,mtencoder_256,False,0.400505,130.347371,"[133.46499633789062, 133.7028350830078, 125.17..."

In [54]:
df

,Model Type,Featurisation,Use Only Target,Train MAE,Test MAE,All Test MAEs
0,NN,mtencoder_256,False,0.343903,128.221103,"[129.16456604003906, 132.5605010986328, 127.10..."

In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Assuming 'data[-1]' is your input list of dictionaries
item = data[3]

# Prepare lists to store each column's data
model_types = []
featurisations = []
concats = []
use_only_targets = []
train_maes = []
test_maes = []
all_test_maes = []

# Iterate over the results and populate the lists
for run in item:
    model_types.append(run['params']['model_type'])
    featurisations.append(run['params']['featurisation'])
    concats.append(run['params']['concat'])
    use_only_targets.append(run['params']['use_only_target'])
    train_maes.append(np.mean(run["train_maes"]))
    test_maes.append(np.mean(run["test_maes"]))
    all_test_maes.append(run["test_maes"])

# Create a DataFrame
df = pd.DataFrame({
    'Model Type': model_types,
    'Featurisation': featurisations,
    'Concat': concats,
    'Use Only Target': use_only_targets,
    'Train MAE': train_maes,
    'Test MAE': test_maes,
    'All Test MAEs': all_test_maes
})



df

/home/students/.conda/envs/synthesis/lib/python3.9/site-packages/numpy/_core/fromnumeric.py:3596: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/home/students/.conda/envs/synthesis/lib/python3.9/site-packages/numpy/_core/_methods.py:138: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)

,Model Type,Featurisation,Concat,Use Only Target,Train MAE,Test MAE,All Test MAEs
0,XGB,mtencoder,True,False,NaN,NaN,[]
1,XGB,matminer,True,False,NaN,NaN,[]
2,XGB,composition,True,False,NaN,NaN,[]

In [44]:
import torch
import torch.nn as nn
from torch_geometric.nn import GCNConv, GATConv, GINConv, Sequential

class GNN(torch.nn.Module):
    def __init__(self, in_channels=None, hidden_channels=None, nn_layers=None, nn_units=None, conv_type='GCN'):
        super(GNN, self).__init__()
        self.conv_type = conv_type
        self.gcn = GCNConv(in_channels, hidden_channels)
        self.gat = GATConv(in_channels, hidden_channels)
        # i think we will mostly use the GAT and GCN
        self.gin = GINConv(
            Sequential('x, edge_index', [
                (torch.nn.Linear(in_channels, hidden_channels), 'x -> x'),
                torch.nn.ReLU(),
                (torch.nn.Linear(hidden_channels, hidden_channels), 'x -> x')
            ])
        )
        # self.lin = torch.nn.Linear(hidden_channels, 1)
        self.lin = NN(hidden_channels, n_layers=nn_layers, n_units=nn_units)

    def forward(self, x, edge_index, batch):
        if self.conv_type == 'GCN':
            x = self.gcn(x, edge_index) 
        elif self.conv_type == 'GAT':
            x = self.gat(x, edge_index)
        elif self.conv_type == 'GIN':
            x = self.gin(x, edge_index)
        
        x = global_mean_pool(x, batch)
        x = self.lin(x)
        return x
    
class NN(nn.Module):
    def __init__(self, input_dim, n_layers, n_units):
        super(NN, self).__init__()
        self.n_layers = n_layers
        self.n_units = n_units
        
        layers = []
        in_features = input_dim
        for i in range(self.n_layers):
            layers.append(nn.Linear(in_features, n_units[i]))
            layers.append(nn.ReLU())
            in_features = n_units[i]
        layers.append(nn.Linear(in_features, 1))
        self.model = nn.Sequential(*layers)

    def forward(self, x):
        return self.model(x)

In [45]:
network = GNN(in_channels=512, hidden_channels=2, nn_units=[10, 10], nn_layers=2, conv_type='GAT')

In [46]:
network

GNN(
  (gcn): GCNConv(512, 2)
  (gat): GATConv(512, 2, heads=1)
  (gin): GINConv(nn=Sequential(
    (0): Linear(in_features=512, out_features=2, bias=True)
    (1): ReLU()
    (2): Linear(in_features=2, out_features=2, bias=True)
  ))
  (lin): NN(
    (model): Sequential(
      (0): Linear(in_features=2, out_features=10, bias=True)
      (1): ReLU()
      (2): Linear(in_features=10, out_features=10, bias=True)
      (3): ReLU()
      (4): Linear(in_features=10, out_features=1, bias=True)
    )
  )
)